ul {
  list-style: none;
}

.comic-liked {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

img {
  width: 300px;
  height: 450px;
}

.bi-heart-fill {
  color: #ccc;
}

.liked {
  color: deeppink;
}